.container {
  background: white;
  margin-bottom: 1rem;
}

.description {
  display: flex;
  position: relative;
}

.button {
  background: #fedc07;
}

.accordion {
  display: flex;
  position: absolute;
  background: white;
  padding: 0 1rem;
  bottom: 0;
  align-items: center;
  color: #17317f;

  &:hover {
    cursor: pointer;
  }
}
