@import "../styles/colors.scss";

.container {
  display: flex;
  background: $white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.icon {
  font-size: 1.3rem;
}

.active {
  color: $white;
  background: $primary;
}

.inactive {
  color: $primary;
  background: $white;
}
