.container {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.icon {
  font-size: 1.3rem;
}

.active {
  color: white;
  background: #17317f;
}

.inactive {
  color: #17317f;
  background: white;
}
