.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5rem;
  margin: 5rem;
}

.navBar {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1px;
  background: #17317f;
}

.main {
  background: green;
}
